body {
	background: url(img/body.jpg) no-repeat center top fixed;
	background-color: #1e150e;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

header {
	font-size: 20px;
	color: white;
}

section {
	padding: 15px 0;
	border-radius: 5px;
	border:	solid 1px black;
	background-color: #094426;
}

#register {

}

#game {
	display: none;
}

#game #nbJoueurs {
	display: none;
	text-align: center;
}

.banniere {
	padding: 15px 4px 4px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #ffd669;
	margin-top: 0px;
/*	margin-bottom: 9px;*/
	text-align: center;
	height: 100px;
	width: 975px;
/*	position: absolute;*/
	background: url('img/banniere.png') top center no-repeat;
	line-height: 33px;
}

#form {
	width: 352px;
	margin: 0 auto;
	text-align: center;
	color: #ffd669;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}


label {
	color: #ffd669;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.bouton {
	margin-top: 16px;
	display: inline-block;
	background-color: #ae0c0c;
	color: #ffd669;
	font-family: Arial, Helvetica, sans-serif;
	font-size:	16px;
	cursor: pointer;
	padding: 6px 10;

}

.boutonJoueurs {
	margin: 0;
}

.carte {
	width: 70px;
	height: 129px;
	display: inline-block;
}

#players {
	text-align: center;
	margin: 20px 0;
}

.player.selected::before {
	content: "";
	display: block;
	width: 50px;
	height: 27px;
	background: url("img/selecteur.png") no-repeat;
	position: absolute;
	margin-top: -30px;
	margin-left: 34px;
}

/*#selecteur {
	position: absolute;
	width: 50px;
	height: 27px;
	background: url("img/selecteur.png") no-repeat;
}*/

.player {
	display: inline-block;
	width: 186px;
	height: 97px;
	background: url("img/cadre.gif");
	-webkit-background-size: cover cover;
	background-size: cover;
}

.player.prise {
	background: url("img/cadre2.gif");
}

.player .name {
	width: 95px;
	vertical-align: middle;
	text-overflow: ellipsis;
	position: relative;
	top: 14px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	left:-35px;
	display: inline-block;
}

.player .status {
	width: 95px;
	position: relative;
	top: 16px;
	height:11px;
	display: inline-block;
	text-transform: capitalize;
}

.player .carte {
	background-image: url("img/cartes/Excuse.jpeg");
	position: relative;
	float: right;
	top: -38px;
	right: 10px;
	content: '';
}

.player .carte .layer {
	position:absolute;
	cursor:pointer;
}


#deck {
	display: none;
	height: 130px;
	width: 941px;
	margin:	0 auto;
}

#bas {
	height: 185px;
	width: 100%;
	margin-top: 20px;
/*	display: none;*/
}


#infosPartie, #chatbox {
	width: 487px;
	height:168px;
/*	padding-top: 20px;*/
	display: block;
	float:left;
}

.titleinfo {
	margin: 0;
	width: 486px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #ffd669;
/*	display: inline-block;*/
}

#choix, #chien, #appel {
	height: 142px;
	display:none;
}

#choix {
	margin: 0 92px;
	text-align: center;
}

#chien {
	display:block;
	width: 420px;
	margin: 0px auto;
}

#appel {
	width: 282px;
	margin: 0px auto;
}


#chat {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: black;
}

img.carte:first-child {
	margin: 0 !important;
}

img.carte {
	display: block;
	float: left;
	cursor: pointer;
	content:'';
}
